/custom.el
/eshell
/quelpa
/recentf
/elpa
/pyim
/games
/tmp
/server/
/straight/
/.lsp-session-v1
/auto-save-list
/cnfonts
/cache
/nov-places
/.pdf-view-restore
/.cache
/share/plantuml/
/share/stardict/
/share/TabNine/
/.*~
/el-get/
/emms/ 
/speed-type/
/libpm/
/tmp-scratchs/*
/autoloads/*