[submodule "pyim"]
	path = site-lisp/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/shanyouli/auto-save.git
[submodule "benchmark-init-el"]
	path = site-lisp/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "sdcv"]
	path = site-lisp/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "cache-path-from-shell"]
	path = site-lisp/cache-path-from-shell
	url = https://github.com/manateelazycat/cache-path-from-shell.git
[submodule "insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "lazycat-theme"]
	path = site-lisp/lazycat-theme
	url = https://github.com/shanyouli/lazycat-theme.git
[submodule "lazy-search"]
	path = site-lisp/lazy-search
	url = https://github.com/manateelazycat/lazy-search.git
[submodule "color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "swiper"]
	path = site-lisp/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "emacs-doom-themes"]
	path = site-lisp/emacs-doom-themes
	url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "undo-tree"]
	path = site-lisp/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "emacs-which-key"]
	path = site-lisp/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "restart-emacs"]
	path = site-lisp/restart-emacs
	url = https://github.com/iqbalansari/restart-emacs.git
[submodule "esup"]
	path = site-lisp/esup
	url = https://github.com/jschaf/esup.git
[submodule "aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "emacs-noflet"]
	path = site-lisp/emacs-noflet
	url = https://github.com/nicferrier/emacs-noflet.git
[submodule "thing-edit"]
	path = site-lisp/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "lazy-load"]
	path = site-lisp/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/shanyouli/awesome-tray.git
[submodule "posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "third-lisp"]
	path = site-lisp/third-lisp
	url = https://github.com/shanyouli/third-lisp.git
[submodule "awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "liberime"]
	path = site-lisp/liberime
	url = https://gitlab.com/liberime/liberime.git
[submodule "emacs-async"]
	path = site-lisp/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "fuz"]
	path = site-lisp/fuz
	url = https://github.com/cireu/fuz.el
[submodule "hydra"]
	path = site-lisp/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "disable-mouse"]
	path = site-lisp/disable-mouse
	url = https://github.com/purcell/disable-mouse.git
